.bg-1QIAus {background-color: black;}
.scroller-3X7KbA {background-color: black;}
.scrollerInner-2PPAp2 {background-color: black;}
.content-1jQy2l {background-color: black;}
.form-3gdLxP::before {opacity: 0;}
.container-ZMc96U.themed-Hp1KC_ {background-color: black;}
.mainContent-uDGa6R {text-decoration: underline;}
.children-3xh0VB:after {opacity: 0;}
.header-3OsQeK {background: black;}
.scroller-1ox3I2{background: black;}
.mainContent-20q_Hp:before {background: black;}
.container-YkUktl {background-color: black;}
.activityPanel-9icbyU {background-color: black;}
.app-2CXKsg button {background-color: black;}
.slateTextArea-27tjG0 {background-color: black;}
.members-3WRCEx {background-color: black;}
.member-48YF_l, .members-3WRCEx {background-color: black;}
.roleStyle-jQ7KI2 {background-color: black;}
.scrollableContainer-15eg7h {background: black;}
.searchBar-3TnChZ {background-color: black;}
.scroller-hE2gWq {background-color: black;}
.emptyCard-KDifrB {background-color: black;}
.peopleColumn-1wMU14 {background-color: black;}
.scroller-WSmht3 {background-color: black;}
.folder-241Joy {background-color: black;}
.expandedFolderBackground-1kSAf6 {background-color: black;}
.childWrapper-1j_1ub {background-color: black;}
.sidebarRegionScroller-FXiQOh {background-color: black;}
.contentColumnDefault-3eyv5o {background-color: black;}
.contentRegionShownSidebar-fHXkEg {background-color: black;}
.accountProfileCard-lbN7n- {background-color: black;}
.background-3d_SjE {background-color: black;}
.fieldList-in8WkP {background-color: black;}
.radioBar-3w9XY- {background-color: black;}
.formNotice-2nS8ey {background-color: black;}
.connectContainer-1hylYM {background-color: black;}
.connectionHeader-Ixbb1s {background-color: black;}
.connectionOptionsWrapper-3aVWcp {background-color: black;}
.card-2xlCYc {background-color: black;}
.noItemsCard-2V85P5,.noItemsCard-5EOcCl {background-color: black;}
.inputDefault-3FGxgL {background-color: black;}
.dropsHelpText-1HyiYF {background-color: black;}
.theme-dark .codeRedemptionRedirect-2hYMSQ {background-color: black;}
.preview-QJ3OG3{background-color: black;}
.preview-3k9WhO{background-color: black;}
.previewMessage-2g_aBv {background-color: black;}
.bd-search-wrapper, .bd-footer, .bd-description-wrap {background-color: black;}
.header-1zd7se,  .container-3PVapX, .footer-31IekZ {background-color: black;}
.content-2hZxGK {background-color: black;}
.container-1zzFcN {background-color: black;}
.grid-1aWVsE {background-color: black;}
.scroller-2M3eAB, .perks-2IIbWQ {background-color: black;}
.perkDescription-3e1T_w {visibility: hidden;}
.perkDescription-3e1T_w:before {content: "Nothing";
visibility: visible;}
.shinyButton-2Q9MDB {visibility: hidden;}
.scroller-1bVxF5 {background-color: black;}
.button-3bklZh {background-color: black;}
.customScroller-m1-jZn, .container-3EtAkD {background-color: black;}
.stickyHeader-1Sunlx, .titleContainer-3fPic2 {background-color: black;}
.header-JUTO-g {background-color: black;}
.container-2o3qEW {background-color: black;}
.root-u9h3Ui {background-color: black;}
.modalContent-2y3sGW, .card-m7VgZ8, .modalSize-3WSXDU {background-color: black;}
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {background-color: black;}
.circleIconButton-1VxDrg {background-color: black;}
.addFriendInputWrapper-kkoSV9 {background-color: black;}
.contentContainer-dKJ2Bn {background-color: black;}
.root-22AK9z {background-color: black;}
.grid-3gqrYc, .scroller-35tvpe {background-color: black}
.content-ninSrc {background-color: black;}
.rowContainer-jDvyA4, .container-2Y4CWj {background: black;}
.container-3r7mfc {background-color: black;}
.container-cH6QoY {background-color: black;}
.button-3bklZh.disabled-3SakJY, .button-3bklZh.disabled-3SakJY:active, .button-3bklZh.disabled-3SakJY:hover{background-color: black;}
.hljs:not([class$='hljs']) {visibility: visible;}
.text-sm-normal-3Zj3Iv {background-color: black;}
.hljs-comment {color: white}
.attachmentContentItem-UKeiCx {background-color: black;}
.upload-vLbqu-, .uploadContainer-TCg-Ji {background-color: black;}
.replyBar-1oi75v {background-color: black;}
.base-2v-uc0 {background-color: black;}
.clickable-2V8YKY {background-color: black;}
.scroller-18M1mG {background-color: black;}
.userProfileInnerThemedWithBanner-2624Yx {background: black;}
.section-3FmfOT {background-color: black;}
.scroller-1jBQYo {background-color: black;}
.divider-1tWBgZ {background-color: black;}
.userPopoutOverlayBackground-dKOOda {background-color: black;}
.userProfileInnerThemedNonPremium-1gT-zY {background-color: black;}
.buttonColor-XIRMbp {background-color: black;}
.body-_QAKrE {background-color: black;}
.background-3N0xBT {background-color: black;}
.bigPerkCard-1uwmWV, .smallPerkCard-2sX_-- {background-color: black;}
.perksModalContentWrapper-3RHugb {background-color: black;}
.content-2a4AW9 {background-color: black;}
.container-2qVG6q {background-color: black;}
.container-JhuCwn, .collapsed-23aTv6 {background-color: black;}
.cameraWrapper-3a7Ngv {background-color: black;}
.backgroundOptionContent-2-UepH {background-color: black;}
.theme-dark .notDetected-M3Ghh2 {background-color: black;}
#bd-editor-controls {background-color: black;}
.controls-section, .controls-left:after {font-size: 12px; color: white; content: 'Are you sure you want to edit this? It may conflict with the High Contrast theme.';}
.bd-addon-list .bd-addon-header {background-color: black;}
.attendeeCTA-2etnq5 {background-color: black;}
.line-18uChy:before {color: white; content: '>';}
.overflow-1wOqNV {color: white}
.activityText-ev7Z1T {color: white}
.mentioned-Tre-dv:before {background-color: white}
.modeMuted-2T4MDZ .name-28HaxV:after {content: '[MUTED]';}
.modeMuted-2T4MDZ .name-28HaxV {color: white}
.modeMuted-2T4MDZ .icon-2W8DHg {color: #8e9297}
.tileBaseContainer-2zuu3- {background-color: black;}
.containerPadding-3Ok3MG {background-color: black;}
.verificationContainer-3qb1n0 {background-color: black;}
.fieldBackground-2TpuOY {background-color: black;}
.containerFooter-3BSQ3U {background-color: black;}
.mainContainer-yxgti4, .ruleIconContainer-dXW56- {background-color: black;}
.theme-dark .headerClickable-zGQJz3, .theme-dark .headerDefault-1e6yjj {background-color: black;}
.upsellContent-10YytV {background-color: black;}
.upsellFooter-3M1V33 {background-color: black;}
.developerPortalCtaWrapper-2PniQs {background-color: black;}
.featureCard-3XHbjy {background-color: black;}
.checklistHeader-3liG7E {background-color: black;}
.checklistItem-1gWPPD {background-color: black;}
.previewContainer-29oeA6 {background-color: black;}
.card-XTenyB {background-color: black;}
.checklist-Wx0APO {background-color: black;}
.header-1fRniV {background-color: black;}
.perm-item {background-color: black;}
.role-item {background-color: black;}
.role-scroller {background-color: black;}
#permissions-modal-wrapper .header {background-color: black;}
#permissions-modal-wrapper .perm-side {background-color: black;}
#permissions-modal-wrapper .role-side {background-color: black;}
.modalTitle-nz51Yi {background-color: black;}
.flex-2S1XBF {background-color: black;}
.videoBackgroundTransition-Pn9nCS {background-color: black;}
.theme-dark .item-2OyinQ {background-color: black;}
.emptyGuildUpsell-2s9mrR {background-color: black;}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {background-color: black;}
.lookFilled-1GseHa.select-1Ia3hD {background-color: black;}
.card-2EUiNF {background-color: black;}
.cardContent-1-5hym {background-color: black;}
.roleMemberList-ub4EsQ {background-color: black;}
.thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {background-color: black;}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {background-color: black;}
.theme-dark .container-2qVG6q.isOpen-2OXbFs {background-color: black;}
.grid-21dB-S, .list-3FIpnh {background-color: black;}
.itemCard-3Etziu {background-color: black;}
.section-3G9aLW {background-color: black;}
.none-2-_0dP {background-color: black;}
.userPanelOverlayBackground-3xwDMp {background-color: black;}
.wrapper-2O6Aho {background-color: black;}
.stepContainer-SaPPyG {background-color: black;}
.form-3gdLxP {background-color: black;}
.container-3YcgdM {background-color: black;}
.divider-AZrXIA {background-color: black;}
.container-3arpDl {background-color: black;}
.descriptionContainer-2ylKGk {background-color: black;}
.row-1qtctT, .title-1yq5kT {background-color: black;}
.popout-TdhJ6Z {background-color: black;}
.matchingPostsRow-2IiEQ1 {background-color: black;}
.header-1ULbqO {background-color: black;}
.premiumUpsell-2K2V_c {background-color: black;}
.theme-dark .root-g14mjS {background-color: black;}
.item-4m-12I {background-color: black;}
.theme-dark .container-YkUktl {background-color: black;}
.platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA {background-color: black;}
.attachButton-_ACFSu {background: black;}
.scroller-kQBbkU {background-color: black;}
.buttons-uaqb-5 {background-color: black;}
.scrollableContainer-15eg7h {background: black;}
.theme-dark .scrollableContainer-15eg7h {background-color: black;}
.theme-dark .container-KM8BU6, .theme-dark .reactors-1VXca7, .theme-dark .scroller-2GkvCq {background-color: black;}
.thin-31rlnD.fade-1R6FHN {background-color: black;}
/*Thanks for taking a look!*/
